.flag{
    width: 500px;
    height: 300px;
    background-color: #10398b;
    position: absolute;
}
.white{
    width: 80px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: relative;
    left: 100px; 
}

.white1{
    width: 500px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 200px;
}
.red{
    width: 40px;
    height: 300px;
    background-color: red;
    position: relative;
    top: -380px;
    left:120px;
    z-index: 3;
}
.red1{
    width: 500px;
    height: 40px;
    background-color: red;
    position: relative;
    top: -560px;
    z-index: 4;

}
